<div class="topTenRankings">
	<h2>Top Ranked Players</h2>

	<table>
		<tr>
			<th>&nbsp</th>
			<th>Login</th>
			<th>W/L</th>
			<th>Rating</th>
		</tr>
		<% User.find(:all, :order => 'rating desc').each_with_index { |user, i|  %>
			<tr>
				<td><%= i + 1%>.</td>
				<td><%= link_to user.login, user %></td>
				<td><%= user.wins%> - <%= user.losses %></td>
				<td><%= user.rating %></td>
			</tr>
		<% } %>
	</table>

</div>