<div class="matchList">
	<h1>Matches</h1>
	<table>
		<tr>
			<th>
				Winner
			</th>
			<th>
				Loser
			</th>
			<th>
				Score
			</th>
			<th>
				Rating Change
			</th>
			<th>
				Date
			</th>
		</tr>
		<% for match in @matches do %>
			<tr>
				<td>
					<%= link_to match.winner.login, match.winner %>
				</td>
				<td>
					<%= link_to match.loser.login, match.loser %>
				</td>
				<td>
					<nobr><%= match.winner.score %> - <%= match.loser.score %></nobr>
				</td>
				<td>
					<%= link_to match.rating_change, match %>
				</td>
				<td>
					<%= match.created_at.pretty %>
				</td>
			</tr>
		<% end %>
	</table>
	
	<%= will_paginate @matches %>
</div>