<div class="showMatch">
	<h1>Match Report: <%= @match.home_participant.login %> vs <%= @match.away_participant.login %></h1>
	On <%= @match.created_at.pretty %>, 
	<span class="winnerName"><%= @match.winner.login %></span> 
	<span class="defeatedSynonym"><%= defeated_synonym %></span>
	<span class="loserName"><%= @match.loser.login %></span>.  
	The final score was 
	<span class="winnerScore"><%= @match.winner.score.to_s %></span> - <span class="loserScore"><%= @match.loser.score.to_s %></span>.
	<div class="info">
		<%= @match.winner.login %> took <span class="ratingChange"><%= @match.rating_change %></span> points for winning.
		That brings the record for <%= @match.winner.login %> and <%= @match.loser.login %> to 
		<span class="record">
			<%= @match.winner.wins_versus(@match.loser)%>-<%= @match.winner.losses_versus(@match.loser)%>
		</span>
		.
	</div>
</div>