<html>
<head>
	<title>Ping Pong Points<%= '!!!' %></title>
	<%= stylesheet_link_tag 'main'%>
</head>
<body>
	<!--<iframe src="/welcome/banner" height="90" width="728" scrolling="no" class="ad"></iframe>-->
	<div class="contentContainer">
		<div class="contentTop" ></div>
		<div class="content">
			<h1 class="siteName">Ping Pong Points<%= '!!!' %></h1>
			<% if !logged_in?%>
				<span class="loginHeader">
					<% form_tag session_path, :class => 'loginWidget' do -%>
					<label for="login">e:</label>
					<%= text_field_tag 'login', nil, :class => 'login' %>

					<label for="password">p:</label>
					<%= password_field_tag 'password', nil, :class => 'password' %>

					<%= submit_tag 'Log in', :class => 'login' %>
				</span>
				<% end -%>
			<% else %>
				<span class="welcomeText">Welcome <%= current_user.login%></span>
			<% end%>
			<div class="clearBoth"></div>
			<% if flash[:notice] or flash[:error] %>
				<div class="flashes">
					<span class="notice"><%= flash[:notice] %></span>
					<span class="error"><%= flash[:error] %></span>
				</div>
			<% end%>
			<%= yield%>
		</div>
		<div class="contentBottom" ></div>
	</div>
	<!--<iframe src="/welcome/banner" height="90" width="728" scrolling="no" class="ad"></iframe>-->
	
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-11318314-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>